*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    /* supaya warna print ada */
    body {-webkit-print-color-adjust: exact;} 
}

.page {
    /* ukuran a4 */
    width: 210mm;
    height: 297mm;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: skyblue;
    padding-top: 10px;

}

.label {
    width: 9cm;
    height: 5cm;
    border: 2px solid black;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif ;
    border-radius: 15px;
    background-color: orange;
    margin-bottom: 20px;
}

.hargas {
    margin: 10px 0;
    background-color: white;
    border-radius: 15px;
    padding: 10px;

}

.nama-barang {
    font-size: 25px;

}

.input-harga {
    width: 58px;
}

.input-satuan{
    width: 30px;
}

.input-jml-satuan {
    width: 30px;
}
.harga {
    display: flex;
    margin-top: 5px;
    justify-content:space-between;
    /* background-color: blue; */
    font-size: 18px;
}

.harga-total {
    margin-right: 10px;
}
