* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.labels {
    width: 21cm;
    display: flex;
    background-color: skyblue;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.label {
    width: 9cm;
    border: 2px solid black;
    /* background-color: red; */
    margin: 0.3cm 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif ;
    border-radius: 15px;
    background-color: orange;
}

.hargas {
    margin: 10px 0;
    background-color: white;
    border-radius: 15px;
    padding: 10px;

}

.nama-barang {
    font-size: 25px;

}

.input-harga {
    width: 58px;
}

.input-satuan{
    width: 30px;
}

.input-jml-satuan {
    width: 30px;
}
.harga {
    display: flex;
    margin-top: 5px;
    justify-content:space-between;
    /* background-color: blue; */
    font-size: 18px;

}

.harga-total {
    margin-right: 10px;
}

